
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body {
	background-color: #0000FF;
}

#app-layout {
	.docs__sidebar {
		margin-top: 20px;
	}

	pre {
		background: #000;
		border-radius: 0;
	}

	.hljs {
		display: block; padding: 0.5em;
		background: #000000; color: #BABABA;
	}
}